@use './tokens/index' as *;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--fsd-font-family);
  color: var(--fsd-color-text);
  background: var(--fsd-color-bg);
}
